DATABASE_URL="postgresql://postgres:YOUR_PASSWORD@localhost:5432/ai_moneysafe"

JWT_SECRET="YOUR_JWT_SECRET"
JWT_EXPIRES_IN="30d"

GEMINI_API_KEY="YOUR_GEMINI_API_KEY"

PORT=4000

CLOUDINARY_CLOUD_NAME="YOUR_CLOUD_NAME"
CLOUDINARY_API_KEY="YOUR_CLOUDINARY_API_KEY"
CLOUDINARY_API_SECRET="YOUR_CLOUDINARY_API_SECRET"

FIREBASE_SERVICE_ACCOUNT_BASE64="paste-the-base64-text-here"